In [1]:
name = 'Alice'
name[::-1]

'ecilA'

In [5]:
name[-1:-5:-1]

'ecil'

In [6]:
x = 5
print('Hello %i %i Bye' % (x, x))

Hello 5 5 Bye

In [7]:
name2 = 'Bob'
print('Hello {} and {}, bye'.format(name.lower(), name2.upper()))

Hello alice and BOB, bye

In [8]:
print('Hello {0}'.format(name, name2))
print('Hello {1}'.format(name, name2))

Hello Alice
Hello Bob

In [12]:
L = ['bob', 'alice']
L.sort()
print(L)

['alice', 'bob']

In [14]:
if x==5:
    print(x)
    print(x)

5
5

In [15]:
test = '''te'"'st'''
test2 = """te' "st"""
print(test, test2)

te'"'st te' "st

In [16]:
L = [1,2,3,4]
for num in L:
    print(num**2)

1
4
9
16

In [17]:
print(list(num**2 for num in L))

[1, 4, 9, 16]